@import url("@fontsource-variable/outfit") layer(base);
@import url("./typography.css") layer(base);

@import "tailwindcss";

@theme {
  --font-sans:
    "Outfit Variable", "Outfit", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --color-page: var(--bg-page);
  --color-border: var(--border-color);
  --color-surface: var(--bg-surface);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-color, currentColor);
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  /* Global styles */

  :root {
    --bg-surface: var(--color-white);
    --bg-page: var(--color-neutral-100);
    --border-color: var(--color-neutral-200);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-surface: var(--color-black);
      --bg-page: var(--color-neutral-900);
      --border-color: var(--color-neutral-800);
      color-scheme: dark;
    }
  }

  html {
    @apply bg-page dark:text-white print:bg-inherit;
  }

  /* Using :where to decrease specificity */
  :where(*) {
    @apply border-border;
  }
}

/* Rehype Pretty Code styles */

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] {
  @apply rounded-md shadow-lg;
}

[data-rehype-pretty-code-figure] > pre {
  @apply bg-white dark:bg-[#22272e];
}

[data-rehype-pretty-code-figure] > pre > code[data-theme] {
  @apply grid;
}

[data-rehype-pretty-code-figure] > [data-rehype-pretty-code-title] {
  @apply rounded-t-md border border-neutral-200 bg-neutral-100 px-4 py-2 font-medium dark:border-neutral-800 dark:bg-neutral-950;
}

[data-rehype-pretty-code-figure] > [data-rehype-pretty-code-caption] {
  @apply mt-0 rounded-b-md bg-neutral-100 px-4 py-2 text-sm italic dark:bg-neutral-950;
}

[data-rehype-pretty-code-figure] > [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none pt-2;
}

[data-rehype-pretty-code-figure]:has([data-rehype-pretty-code-caption]) > pre {
  @apply mb-0 rounded-b-none pb-2;
}

span[data-rehype-pretty-code-fragment] > code {
  @apply rounded-md px-2 py-1;
}

[data-highlighted-line] {
  @apply border-l-primary-500 -ml-4 border-l-4 pl-3;
}

[data-highlighted-line],
[data-highlighted-line] span {
  @apply bg-[#e5f3ff]! dark:bg-[#313944]!;
}
