<footer class="mx-auto dark:prose-invert prose py-12">
  <hr />
  <p class="text-center px-4">
    Created by Brendan Swanson with <a href="https://astro.build"
      >{Astro.generator}</a
    >. Check me out on <a href="https://github.com/FluxCapacitor2/">GitHub</a>!
  </p>
</footer>
