---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import icon from "../../public/icon.svg";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="border-b bg-gray-100 dark:border-b-neutral-700 dark:bg-neutral-800"
>
  <nav
    class="container mx-auto flex justify-between gap-4 px-4 py-2 text-lg lg:gap-6"
  >
    <h2 class="font-medium">
      <a href="/" class="flex h-full min-w-16 items-center">
        <span class="max-sm:hidden">
          {SITE_TITLE}
        </span>
        <Image
          class="sm:hidden"
          src={icon}
          alt="Brendan Swanson"
          width={24}
          height={24}
        />
      </a>
    </h2>
    <div class="flex grow justify-center gap-4 sm:justify-end lg:gap-6">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog/">Blog</HeaderLink>
      <HeaderLink href="/projects/">Projects</HeaderLink>
    </div>
    <div class="flex gap-4 lg:gap-6">
      <HeaderLink
        href="https://github.com/FluxCapacitor2/"
        target="_blank"
        class="flex items-center text-gray-800 dark:text-neutral-200"
      >
        <Icon name="simple-icons:github" size={24} aria-label="GitHub" />
      </HeaderLink>
      <HeaderLink
        href="https://linkedin.com/in/bdswanson/"
        target="_blank"
        class="flex items-center text-gray-800 dark:text-neutral-200"
      >
        <Icon name="simple-icons:linkedin" size={24} aria-label="LinkedIn" />
      </HeaderLink>
    </div>
  </nav>
</header>
