---
import type { CollectionEntry } from "astro:content";
import TechStackItem from "./TechStackItem.astro";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---

<p class="mt-2 flex flex-wrap gap-1 text-lg text-gray-500 dark:text-gray-300">
  {project.data.tags.map((tag) => <TechStackItem name={tag} />)}
</p>
